{% extends "catalog/base.html" %}
{% load static %}  <!-- Load static files -->


{% block title %}Pizza Menu{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Our Menu</h1>
    <div class="row">
        {% for pizza in pizzas %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/default-pizza.jpg' %}" class="card-img-top" alt="{{ pizza.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.name }}</h5>
                    <p class="card-text">{{ pizza.description }}</p>
                    <p class="card-text"><strong>Price:</strong> ${{ pizza.price }}</p>
                    <form action="{% url 'add_to_cart' pizza.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}